<div class="sidebar">

    <div class="sidebar-menu">

        <li>
            <a [routerLink]="['./dashboard']" class="active" routerLinkActive="active">
                <span>
                    <!-- <fa-icon [icon]="['fas', 'home']">
                    </fa-icon> -->
                </span>
                <span>Accueil</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['./angular']" routerLinkActive="active">
                <span>
                    <!-- <fa-icon [icon]="['fas', 'search']">
                    </fa-icon> -->
                </span>
                <span>Angular</span>
            </a>
        </li>


        <li>
            <a [routerLink]="['./web-pages']" routerLinkActive="active">
                <span>
                    <!-- <fa-icon [icon]="['fas', 'cog']">
                    </fa-icon> -->
                </span>
                <span>Pages web</span>
            </a>
        </li>

    </div>
</div>