
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.main-content {
    margin-left: 250px;  
    
    margin-top: 80px;
    padding: 1rem 1rem 2rem 1rem;
    background: #f1f5f9;
    min-height: calc(100vh - 80px);
}*/
