<div>
    <app-scroll-to-top></app-scroll-to-top>
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <app-features></app-features>
    </div>
</div>

<!-- 
<div>
    <app-scroll-to-top></app-scroll-to-top>
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">

         <div class="sidebar">
            <div class="sidebar-menu">
                <app-side-nav></app-side-nav>
            </div>
        </div>

        <div class="main-content">
            <router-outlet class="routerOutletClass"></router-outlet>
        </div> 
    </div>
</div> -->