<div class="cards">


    <div class="card-single">

        <h3>
            <a [routerLink]="['../java']" routerLinkActive="active">
                Java
            </a>
        </h3>


    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../spring-boot']" routerLinkActive="active">
                Spring Boot
            </a>
        </h3>


    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../spring-batch']" routerLinkActive="active">
                Spring Batch
            </a>
        </h3>


    </div>



    <div class="card-single">

        <h3>
            <a [routerLink]="['../bases-donnees']" routerLinkActive="active">
                Bases de données SQL PL/SQL
            </a>
        </h3>


    </div>
    <div class="card-single">

        <h3>
            <a [routerLink]="['../angular']" routerLinkActive="active">
                Angular & Javascript
            </a>

        </h3>
    </div>
    <div class="card-single">

        <h3>
            <a [routerLink]="['../templates-html-css']" routerLinkActive="active">
                Template HTML & CSS
            </a>

        </h3>
    </div>
    <div class="card-single">

        <h3>
            <a [routerLink]="['../jenkins']" routerLinkActive="active">
                Jenkins DevOps CI/CD
            </a>

        </h3>
    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../maven']" routerLinkActive="active">
                Maven
            </a>

        </h3>
    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../docker']" routerLinkActive="active">
                Docker
            </a>

        </h3>
    </div>



    <div class="card-single">

        <h3>
            <a [routerLink]="['../nosql']" routerLinkActive="active">
                NoSQL & Big Data
            </a>

        </h3>
    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../git']" routerLinkActive="active">
                GIT
            </a>

        </h3>
    </div>
</div>