.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 30%;
    transition: 0.5s;
    background-color: #efefef;

 box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   
}


.card-single:hover
{
    box-shadow: 0 2px 20px #333;
    cursor: pointer;
}

a {
    color: var(--color-darK) !important;
    text-decoration: none;
    background-color: transparent;
  }