<div class="cards">
    <div class="card-single">

        <h3>
            <a [routerLink]="['../angular']" routerLinkActive="active">
                Angular
            </a>

        </h3>


    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../javascript']" routerLinkActive="active">
                Java
            </a>
        </h3>


    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../javascript']" routerLinkActive="active">
                Spring
            </a>
        </h3>


    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../javascript']" routerLinkActive="active">
                Javascript
            </a>
        </h3>

    </div>


    <div class="card-single">

        <h3>
            <a [routerLink]="['../javascript']" routerLinkActive="active">
                SQL
            </a>
        </h3>
    </div>



    <div class="card-single">
        <h3>
            <a [routerLink]="['../javascript']" routerLinkActive="active">
                Hibernate
            </a>
        </h3>
    </div>
</div>