<div class="cards">

    <div class="card-single" (click)="java()">
        <div>
            Java
        </div>
    </div>


    <div class="card-single" (click)="spring()">
        <div>
            Spring
        </div>
    </div>


    <div class="card-single" (click)="html()">
        <div>
            HTML & CSS
        </div>
    </div>

    <div class="card-single" (click)="angular()">
        <div>
            Angular
        </div>
    </div>


    <div class="card-single" (click)="maven()">
        <div>
            Maven
        </div>
    </div>

    <div class="card-single" (click)="elasticsearch()">

        <div>
            Elastic Search

        </div>
    </div>

    <div class="card-single" (click)="sql()">
        <div>
            SQL & PL/SQL
        </div>
    </div>

    <div class="card-single" (click)="linux()">
        <div>
            LINUX
        </div>
    </div>

    <div class="card-single" (click)="jenkins()">
        <div>
            Jenkins DevOps CI/CD
        </div>
    </div>



    <div class="card-single" (click)="docker()">

        <div>
            Docker

        </div>
    </div>



    <div class="card-single" (click)="nosql()">

        <div>
            NoSQL & Big Data

        </div>
    </div>


    <div class="card-single" (click)="git()">

        <div>
            GIT

        </div>
    </div>
</div>