<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="log('Opened')" (closed)="log('closed')">
        <!-- <div class="sidebar">
            <div class="sidebar-menu">
                <app-side-nav></app-side-nav>
            </div>
        </div> -->
        <mat-nav-list>
            <app-menu-list-item *ngFor="let item of menu" [item]="item"></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <app-scroll-to-top></app-scroll-to-top>

        <!-- <button (click)="sidenav.toggle()">Toggle</button> -->

        <!-- <button (click)="opened = !opened">Toggle opened</button>

        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">close</button> -->

        <router-outlet class="routerOutletClass"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>