mat-sidenav-container, mat-sidenav-content, mat-sidenav {
   // height: 100%;
  }
  
  .mat-sidenav {
    width: 250px;
  }
  
  button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }


  
mat-sidenav-container{
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

mat-sidenav{
   background-color: var(--main-color);
   width: 250px;
}
mat-sidenav-content{
     padding: 2rem;
}