<div class="container">

    <div class="demo-2">

        <div class="demo-2-ex">

            <div class="demo-2-main-content">
                <h2> Main content</h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
                <p>
                    De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem
                    Ipsum
                    leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux
                    sites
                    qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le
                    temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins
                    d'oeil, voire des phrases embarassantes).


                </p>
            </div>
            <div class="demo-2-sidebar-one">
                <h2> Sidebar one </h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
            </div>

            <div class="demo-2-sidebar-two">
                <h2> Sidebar two </h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
            </div>
        </div>
        <div class="demo-2-explain">
            <div style="font-weight: bold; color: blue;">
                <h2>CSS :</h2>
                <p>
                    .demo-2-main-content(
                    flex-grow: 3;
                    flex-shrink: 1;
                    flex-basis: 200px;
                    order: 2;
                    )

                </p>
                <p>
                    .demo-2-sidebar-one(
                    flex: 1 2 200px;
                    order: 1;
                    )
                </p>

                <p>
                    .demo-2-sidebar-two(
                    flex: 1 2 200px;
                    order: 1;
                    )
                </p>


            </div>
        </div>


    </div>




    <div class="demo-3">

        <div class="demo-3-ex">
            <div class="demo-3-block">
                <h2> content 1</h2>

                <p>
                    De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem
                    Ipsum
                    leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux
                    sites
                    qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le
                    temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins
                    d'oeil, voire des phrases embarassantes).


                </p>
            </div>
            <div class="demo-3-block">
                <h2> content 2 </h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
            </div>

            <div class="demo-3-block">
                <h2> content 3 </h2>
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
            </div>

        </div>

        <div class="demo-3-explain">
            <div style="font-weight: bold; color: blue;">
                <h2>CSS :</h2>

                <p>
                    .demo-3-explain(
                    order: 1;
                    flex: 1;
                    )
                </p>

                <p>.demo-3-ex(
                    order: 2;
                    flex: 4;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                    )
                </p>
                <p>
                    .demo-3-block(
                    padding: 10px 10px;
                    flex-basis: 30%;
                    )
                </p>

            </div>
        </div>


    </div>


    <div class="demo-4">

        <div class="demo-4-ex">
            <div class="demo-4-block">
                <div class="center-me"> a</div>
            </div>
            <div class="demo-4-block">
                <div class="center-me">b</div>
            </div>

            <div class="demo-4-block">
                <div class="center-me">c</div>
            </div>

            <div class="demo-4-block">
                <div class="center-me">c</div>
            </div>

            <div class="demo-4-block">
                <div class="center-me">d</div>
            </div>

        </div>

        <div class="demo-4-explain">
            <div style="font-weight: bold; color: blue;">
                <h2>CSS :</h2>
                <p>

                    .demo-4-explain(
                    order: 1;
                    flex: 1;
                    )
                </p>
                <p>


                    .demo-4-ex(
                    order: 2;
                    flex: 4;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    align-content: center;
                    )

                </p>

                <p>
                    .demo-4-block (
                    width: 100px;
                    height: 100px;
                    background-color: tomato;
                    display: flex;
                    )
                </p>
                <p>

                    .center-me(
                    font-size: 50px;
                    margin: auto;
                    text-transform: uppercase;
                    )
                </p>

            </div>
        </div>


    </div>



    <div class="demo-5">
        <div class="demo-5-ex">
            <div class="demo-5-first">
                <p>
                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                    distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem
                    Ipsum
                    sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution
                    de
                    lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.
                </p>
                <p>
                    De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem
                    Ipsum
                    leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux
                    sites
                    qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le
                    temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins
                    d'oeil, voire des phrases embarassantes).


                </p>

            </div>
            <div class="demo-5-second">
                <div class="demo-5-second-a"></div>
                <div class="demo-5-second-b"></div>
            </div>


        </div>

        <div class="demo-5-explain">
            <div style="font-weight: bold; color: blue;">
                <h2>CSS :</h2>
                <p>.demo-5(
                    display: flex; <br>
                    flex-flow: row nowrap;
                    => flex-direction: row; flex-wrap: nowrap;
                    )
                </p>
                <p>


                    .demo-5-explain(
                    flex: 1;
                    order: 1;
                    )
                    <br />
                    .demo-5-ex(
                    flex: 4;
                    order: 2;
                    display: flex;
                    )


                </p>
                <p>
                    .demo-5-first, .demo-5-second(
                    flex: 1;
                    )
                </p>
                <p>


                    .demo-5-second(
                    display: flex;
                    flex-direction: column;
                    )
                </p>
                <p>

                    .demo-5-second-a(
                    background-color:chartreuse ;
                    flex: 1;

                    )

                </p>
                <p>

                    .demo-5-second-b(
                    background-color:cornflowerblue;
                    flex: 1;
                    )
                </p>
            </div>
        </div>


    </div>
</div>