
<h4> Best Sites </h4>
<ul>
    <li *ngFor="let current of bestSitesLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Best Back End Channels </h4>
<ul>
    <li *ngFor="let current of backVideoLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>



<h4> Best Front End Channels </h4>
<ul>
    <li *ngFor="let current of frontVideoLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>