/* You can add global styles to this file, and also import other style files */


:root{
    --main-color:#dd2f6e;
    --main-color-80:#dd2f6e;
    --color-darK:#1D2231;
    --text-grey:#8390AF;
  
    --main-color-one:#7b1798;
   
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 


