<div class="content">

    <div class="sidebar">
        <div class="sidebar-brand">

            <h2>
                <span class="lab la-accusoft">Accusoft</span>
            </h2>
        </div>

        <div class="sidebar-menu">
            <li>
                <a href="" class="active">
                    <span class="las la-igloo"></span>
                    <span>Dashbord</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-users"></span>
                    <span>Customer</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-clipboard-list"></span>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-shopping-bag"></span>
                    <span>Orders</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-receipt"></span>
                    <span>Inventory</span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="las la-user-circle"></span>
                    <span>Account</span>
                </a>
            </li>


            <li>
                <a href="">
                    <span class="las la-clipboard-list"></span>
                    <span>Task</span>
                </a>
            </li>

        </div>
    </div>
    <div class="main-content d-flex flex-column">
        <div>

            <header>
                <h2>
                    <label for="">
                        <span class="las la-bars"></span>
                    </label>

                    Dashbord
                </h2>



                <div class="user-wrapper">
                    <img src="/golden-favorites/assets/img/template-website-one/img-2.jpg" alt="" width="30px" height="30px">
                    <div>
                        <h4>@username</h4>
                        <small>Super admin</small>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-cards">

            <div>
                <div class="cards">
                    <div class="card-single">
                        <div>
                            <h1>54</h1>
                            <span>Customers</span>
                        </div>
                        <div>
                            <span class="las la-users"></span>
                        </div>

                    </div>


                    <div class="card-single">
                        <div>
                            <h1>54</h1>
                            <span>Projets</span>
                        </div>
                        <div>
                            <span class="las la-clipboard"></span>
                        </div>

                    </div>


                    <div class="card-single">
                        <div>
                            <h1>124</h1>
                            <span>Orders</span>
                        </div>
                        <div>
                            <span class="las la-shopping-bag"></span>
                        </div>

                    </div>


                    <div class="card-single">
                        <div>
                            <h1>$6k</h1>
                            <span>Income</span>
                        </div>
                        <div>
                            <span class="lab la-google-wallet"></span>
                        </div>

                    </div>

                </div>

                <div class="recent-grid">
                    <div class="projects">
                        <div class="card">
                            <div class="card-header">
                                <h4>Recents Projects</h4>
                                <button>
                                    See all
                                    <span class="las la-arrow-right"></span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive ">

                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>Projects Title</td>
                                                <td>Departement</td>
                                                <td>Status</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>UI/UX dESIGN</td>
                                                <td>UI Team</td>
                                                <td>
                                                    <span class="status purple"></span>
                                                    review
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Web developement</td>
                                                <td>Front end</td>
                                                <td>
                                                    <span class="status pink"></span>
                                                    in progress
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ushop app</td>
                                                <td>Mobile team</td>
                                                <td>
                                                    <span class="status orange"></span>
                                                    pending
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>UI/UX dESIGN</td>
                                                <td>UI Team</td>
                                                <td>
                                                    <span class="status purple"></span>
                                                    review
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Web developement</td>
                                                <td>Front end</td>
                                                <td>
                                                    <span class="status pink"></span>
                                                    in progress
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ushop app</td>
                                                <td>Mobile team</td>
                                                <td>
                                                    <span class="status orange"></span>
                                                    pending
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="customers">

                        <div class="card">
                            <div class="card-header">
                                <h4>New customers</h4>
                                <button>
                                    See all
                                    <span class="las la-arrow-right"></span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="customer">
                                    <div class="info">
                                        <img src="/golden-favorites/assets/img/template-website-one/img-2.jpg" alt="" width="40px"
                                            height="40px">
                                        <div>
                                            <h4>Lewis</h4>
                                            <small>CEO</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="las la-user-circle"></span>
                                        <span class="las la-comment"></span>
                                        <span class="las la-phone"></span>
                                    </div>
                                </div>

                                <div class="customer">
                                    <div class="info">
                                        <img src="/golden-favorites/assets/img/template-website-one/img-2.jpg" alt="" width="40px"
                                            height="40px">
                                        <div>
                                            <h4>Lewis</h4>
                                            <small>CEO</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="las la-user-circle"></span>
                                        <span class="las la-comment"></span>
                                        <span class="las la-phone"></span>
                                    </div>
                                </div>

                                <div class="customer">
                                    <div class="info">
                                        <img src="/golden-favorites/assets/img/template-website-one/img-2.jpg" alt="" width="40px"
                                            height="40px">
                                        <div>
                                            <h4>Lewis</h4>
                                            <small>CEO</small>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span class="las la-user-circle"></span>
                                        <span class="las la-comment"></span>
                                        <span class="las la-phone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>