.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 10px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.material-icons {
    font-size: 20px !important;
}

.btn.focus, .btn:focus, .btn:hover, .btn:active {
    box-shadow: none !important;
    color: #212529 !important;
    outline: none !important;
}