<h4> Angualr upload</h4>
<ul>
    <li *ngFor="let current of uploadLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angualr pagination</h4>
<ul>
    <li *ngFor="let current of paginatonLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angualr RXJS</h4>
<ul>
    <li *ngFor="let current of agularRxjsLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angualr ng-wizard-component </h4>
<ul>
    <li *ngFor="let current of ngwizardcomponentLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>



<h4> Others Links </h4>
<ul>
    <li *ngFor="let current of othersLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>