<h4> Angular Table</h4>
<ul>
    <li *ngFor="let current of tableLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular stepper</h4>
<ul>
    <li *ngFor="let current of stepperLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular UploadAnd & Download </h4>
<ul>
    <li *ngFor="let current of uploadAndDownloadLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular Menu</h4>
<ul>
    <li *ngFor="let current of menuLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular datepicker </h4>
<ul>
    <li *ngFor="let current of datepickerLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular pagination </h4>
<ul>
    <li *ngFor="let current of paginationLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular Form </h4>
<ul>
    <li *ngFor="let current of formLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular stackblitz </h4>
<ul>
    <li *ngFor="let current of stackblitzLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>



<h4> Angular Route </h4>
<ul>
    <li *ngFor="let current of routerParametersLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>


<h4> Angular RXJS</h4>
<ul>
    <li *ngFor="let current of agularRxjsLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular Derective and Pipe</h4>
<ul>
    <li *ngFor="let current of directivePipeLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular PDF Viewer</h4>
<ul>
    <li *ngFor="let current of pdfViewerLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular currency</h4>
<ul>
    <li *ngFor="let current of currencyLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>

<h4> Angular Others Links </h4>
<ul>
    <li *ngFor="let current of othersLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current }}
            </span>
        </a>
    </li>
</ul>