<h4>Spring Upload angular</h4>
<ul>
    <li *ngFor="let current of springuploadLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current}}
            </span>
        </a>

    </li>
</ul>


<h4>Spring Data</h4>
<ul>
    <li *ngFor="let current of springdataLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current}}
            </span>
        </a>

    </li>
</ul>


<h4>Spring file</h4>
<ul>
    <li *ngFor="let current of spingFilelinks">

        <a href="{{current}}" target="blank">
            <span> {{ current}}
            </span>
        </a>

    </li>
</ul>

<h4>Spring other lnks</h4>
<ul>
    <li *ngFor="let current of allLinks">

        <a href="{{current}}" target="blank">
            <span> {{ current}}
            </span>
        </a>

    </li>
</ul>